# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
ENV/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data and results
runs/


# Model weights
*.pt
*.h5
*.ckpt

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code settings
.vscode/

# Others
*.bat
*.sh


