streamlit>=1.0.0
ultralytics
opencv-python
# opencv-python-headless
# Uncomment if using inference script
#mediapipe
numpy
torch
torchvision
Pillow
PyYAML
protobuf
typing-extensions
requests
scipy
python-dotenv
